node_modules
npm-debug.log
.env
.env.local
.env.*.local
dist
*.md
.git
.gitignore
.DS_Store
coverage
.vscode
.idea
*.log
uploads/*
logs/*
.editorconfig
.prettierrc
.eslintrc*
tsconfig.tsbuildinfo
